*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0 0 0 / 0.1);
}

header,
main {
    margin: 0 auto;
}

h1{
    font-size: 2rem;
}


nav {
    background-color: #36454f;
    margin: 0 auto;
    /* max-width: 800px; */
}

nav ul {
    list-style: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
}

.active{
    color: yellow;
}

/* Larger Views */
@media (min-width:640px) {
    nav ul {
        display: flex;
    }
    
    nav ul li {
        flex: 1 1 100%;
    }
}

main {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto auto;
    background-color: #fff;
    padding: 10px;
    max-width: 95%;
}

.card {
    background-color: #f1f1f1;
    border: 1px solid gray;
    border-radius: .5rem;
}

.card > h1, h2 {
    background-color: rgb(12, 12, 88);
    color: #fff;
}

.card1{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
}

.card1 > p {
    /* width: 10rem; */
    width: 25rem;
}

h3 {
    width: 16rem;
    border-bottom: 1px solid #36454f;
}

img {
    border: 1px solid gray;
}

footer {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0 0 0 / 0.1);
}