main{
    margin: 1rem auto;
    max-width: 960px;
    padding: .5rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 25px;
    place-items: center;
    margin-bottom: 1rem;
}

img{
    width: 100%;
    height: auto;
    margin: .5rem;
}